/* labels */
.TN {
  height: 18px !important;
}


/* mails */
.zA {
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}


/* toolbar */
.G-atb {
  height: 30px !important;
}
